

.release-col{
    font: optional;
    width: 20%;
    text-align: middle;
    padding-right: 120px;

}

.genre-col{
    font: optional;
    width: 20%;
    text-align: middle;

    padding-right: 160px;
}

.album-col{
    font: optional;
    width: 20%;
    text-align: middle;
    padding-right: 160px;
}

.artist-col{
    font: optional;
    width: 20%;
    text-align: middle;
    padding-right: 160px;
}

.title-col{
    font: optional;
    width: 20%;
    text-align: middle;
    padding-right: 120px;
}

.table{
    width: 100%;
    text-align: middle;
    padding-left: 40px;
    background-color: rgb(211, 211, 248);
}