

.add_btn{
    font-size: large;
    /* padding: 5px 10px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0%;

}

.form-grid{
    display: flex;
    width: 100%;
    margin: 55px
}

.form-group{
    margin: 2px;
   padding-left: 4px;
}

.label-group{
    padding: 8px;
}

.h3-css{
    margin: 10px;
    margin-left: -30px;
    margin-top: -2px;
}