/* Dropdown Button */
.filterBar {
    background-color: #02bd78;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
 .findsong{
     margin-left: 0px;
 }

 .songfilter{
     margin-left: 500px
 }